{% extends 'layout/base.html' %}
{#form表单(admin ui)#}
{% block content %}
    <div class="box">
        <div class="box-header">
            <a href="#" data-url="{% url 'hostcreate' %}" class="add-btn btn bg-purple btn-sm">添加主机</a>
            <form method="get" class="box-tools">{% csrf_token %}
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="name" class="form-control pull-right"
                           placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="" class="table table-bordered table-hover" role="grid">
                        <thead>
                        <tr role="row">
                            <th class="text-center">主机名</th>
                            <th class="text-center">IP地址</th>
                            <th class="text-center">类型</th>
                            <th class="text-center">SSH端口号</th>
                            <th class="text-center">使用环境</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for u in hosts %}
                            <tr role="row" class="odd">
                                <td class="text-center"><a href="#">{{ u.hostname }}</a></td>
                                <td class="text-center"> {{ u.ip_address }}</td>
                                <td class="text-center"> {{ u.get_type_display }}</td>
                                <td class="text-center"> {{ u.ssh_port }}</td>
                                <td class="text-center"> {{ u.get_settings_display }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a type="button" href="#" data-url="{% url 'hostedit' u.pk %}"
                                           class="edit-btn btn btn-primary btn-xs">编辑</a>
                                        <a type="button" data-url="{% url 'hostdel' u.pk %}" href="#"
                                           class="btn del-btn btn-danger btn-xs">删除</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    <div class="pull-right">
                        <ul class="pagination">
                            {{ page_html|safe }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $("select").select2();
            $("#host").addClass('active');
            $(".add-btn").on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url');
                ui.box({
                    title: '添加用户',
                    size: 'lg',
                    footer: false,
                    remote: url
                });
            });

            $(".edit-btn").on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url');
                ui.box({
                    title: '编辑用户',
                    size: 'lg',
                    footer: false,
                    remote: url
                });
            });
            $(".del-btn").on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('data-url');
                ui.confirm('你是否要删除这条数据', function () { //用来做确认删除的
                    $.get({
                        url: url,
                        success: function () {
                            window.location.href = "{% url 'hostlist' %}" //重新请求
                        }
                    })
                })
            })


        })
    </script>
{% endblock %}