{#{% extends 'layout/base.html' %}#}
{% block content %}
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover" role="grid">
                            <tbody>
                            <tr>
                                <td class="text-center" style="width:200px"> 项目名称</td>
                                <td class="text-center">{{ pro.name }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 开发人员</td>

                                <td class="text-center">
                                    {% for user in pro.dev.all %}
                                        {{ user.username }},
                                    {% endfor %}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 测试人员</td>
                                <td class="text-center">
                                    {% for user in pro.test.all %}
                                        {{ user.username }},
                                    {% endfor %}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 项目目录</td>
                                <td class="text-center">{{ pro.path }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> git地址</td>
                                <td class="text-center">{{ pro.git_repo }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> nginxconf</td>
                                <td class="text-center">{{ pro.nginx_conf }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> nginxupstarm</td>
                                <td class="text-center">{{ pro.nginxupstarm }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 语言</td>
                                <td class="text-center">{{ pro.get_language_display }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 主机</td>
                                <td class="text-center">
                                    <table class="table table-bordered table-hover" role="grid">

                                        <thead>
                                        <tr role="row">
                                            <th class="text-center">主机名</th>
                                            <th class="text-center">主机IP</th>
                                            <th class="text-center">环境</th>
                                        </tr>
                                        {% for host in pro.host.all %}
                                            <tr role="row" class="odd">
                                                <td class="text-center"><a href="#">{{ host.hostname }}</a></td>
                                                <td class="text-center"> {{ host.ip_address }}</td>
                                                <td class="text-center"> {{ host.get_settings_display }}</td>

                                            </tr>
                                        {% endfor %}
                                        </thead>
                                    </table>


                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> nginx主机</td>
                                <td class="text-center">
                                    <table class="table table-bordered table-hover" role="grid">

                                        <thead>
                                        <tr role="row">
                                            <th class="text-center">主机名</th>
                                            <th class="text-center">主机IP</th>
                                            <th class="text-center">状态</th>
                                        </tr>
                                        {% for host in pro.nginx_host.all %}
                                            <tr role="row" class="odd">
                                                <td class="text-center"><a href="#">{{ host.hostname }}</a></td>
                                                <td class="text-center"> {{ host.ip_address }}</td>
                                                <td class="text-center"> {{ host.get_settings_display }}</td>

                                            </tr>
                                        {% endfor %}
                                        </thead>
                                    </table>


                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:200px"> 备注</td>
                                <td class="text-center">{{ pro.note }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_script %}
    <script>
        $(function () {
            $("select").select2();
            $("#project").addClass('active');
        })
    </script>
{% endblock %}